UNITY_IOS_EXPORTED_PATH = /ENTER/PATH/HERE
GCC_PREFIX_HEADER = /ENTER/PATH/HERE;

UNITY_RUNTIME_VERSION = 5.3.4f1;
UNITY_SCRIPTING_BACKEND = il2cpp;

OTHER_LDFLAGS = -lc++ -weak_framework CoreMotion -weak-lSystem

HEADER_SEARCH_PATHS = $(UNITY_IOS_EXPORTED_PATH)/Classes/Native $(UNITY_IOS_EXPORTED_PATH)/Classes $(UNITY_IOS_EXPORTED_PATH) $(UNITY_IOS_EXPORTED_PATH)/Libraries $(UNITY_IOS_EXPORTED_PATH)/Libraries/bdwgc/include $(UNITY_IOS_EXPORTED_PATH)/Libraries/libil2cpp/include

LIBRARY_SEARCH_PATHS = $(UNITY_IOS_EXPORTED_PATH)/Libraries/Plugins/iOS $(UNITY_IOS_EXPORTED_PATH)/Libraries $(UNITY_IOS_EXPORTED_PATH)

ENABLE_BITCODE = NO;

OTHER_CFLAGS = -DINIT_SCRIPTING_BACKEND=1;
OTHER_CPLUSPLUSFLAGS = -DINIT_SCRIPTING_BACKEND=1;


CLANG_CXX_LANGUAGE_STANDARD = c++0x;
CLANG_CXX_LIBRARY = libc++;
CLANG_WARN_BOOL_CONVERSION = NO;
CLANG_WARN_CONSTANT_CONVERSION = NO;
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES;
CLANG_WARN_EMPTY_BODY = NO;
CLANG_WARN_ENUM_CONVERSION = NO;
CLANG_WARN_INT_CONVERSION = NO;
CLANG_WARN_OBJC_ROOT_CLASS = YES;
CLANG_WARN_UNREACHABLE_CODE = NO;
CLANG_WARN__DUPLICATE_METHOD_MATCH = NO;

GCC_C_LANGUAGE_STANDARD = c99;
GCC_ENABLE_OBJC_EXCEPTIONS = NO;
GCC_PRECOMPILE_PREFIX_HEADER = YES;
GCC_THUMB_SUPPORT = NO;
GCC_USE_INDIRECT_FUNCTION_CALLS = NO;
GCC_WARN_64_TO_32_BIT_CONVERSION = NO;
GCC_WARN_ABOUT_RETURN_TYPE = YES;
GCC_WARN_UNDECLARED_SELECTOR = NO;
GCC_WARN_UNINITIALIZED_AUTOS = NO;
GCC_WARN_UNUSED_FUNCTION = NO;